body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(index.jpg);
    background-size: cover;
    background-position: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 100px;
    color: white;
  }
  
  .profile-container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="text"][readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
  